@model DatesAndTimes.Controllers.ProductBase

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProductBase</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MSRP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MSRP)
                @Html.ValidationMessageFor(model => model.MSRP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateReleased, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DateReleased)*@
                @Html.DisplayFor(model => model.DateReleased)
                @Html.ValidationMessageFor(model => model.DateReleased)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfMostRecentUpdate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DateOfMostRecentUpdate)*@
                @Html.DisplayFor(model => model.DateOfMostRecentUpdate)
                @Html.ValidationMessageFor(model => model.DateOfMostRecentUpdate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRetired, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRetired)
                @Html.ValidationMessageFor(model => model.DateRetired)
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)
        @* Must keep track of the two displayed dates above... *@
        @Html.HiddenFor(model => model.DateReleased)
        @Html.HiddenFor(model => model.DateOfMostRecentUpdate)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/appHelpers.js")
}
