@model MediaItem_Example.Controllers.VehicleBase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleBase</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoType)
        </dd>

        <dd>
            <img src="/Image/Vehicle/@Model.Id" alt="@Model.Model @Model.Trim" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
